<%- include("partials/header.ejs")%>

<style>
    body{
        background-image: url("https://www.teahub.io/photos/full/27-275995_photo-wallpaper-background-texture-vintage-style-vintage-travel.jpg");
        background-size: cover;
    }
    .jumbotron{
        text-align: center;
        margin-top: 150px;
        background-color: rgba(256,256,256,0.4);
        color: black;
    }
    .btn-default{
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.753);
        color: white;
    }
</style>


<div class="jumbotron">
    <h1>Welcome To Yelp Camp...</h1>
    <a href="\camps"><button class="btn btn-lg btn-default">Camp Ground</button></a>
</div>


<%- include("partials/footer.ejs")%>