<head>
    <link rel="stylesheet" href="/Styles/homepage.css">
</head>
<%- include("partials/header.ejs")%>


<div class="jumbotron" id="jumbotron-home">
    <h1>Welcome To Yelp Camp...</h1>
    <a href="\camps"><button class="btn btn-lg btn-default">Camp Ground</button></a>
</div>


<%- include("partials/footer.ejs")%>